.dropdown {
  background-color: $color-surface-container;
  border-radius: 5px;
  &__title {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $color-primary;
    border-radius: 5px;
    color: $color-secondary;
    font-size: $fontSize-dropdown-lg;
    padding: 10px 20px 10px 15px;
    @include md {
      font-size: $fontSize-dropdown-md;
    }
    @include sm {
      padding: 10px 0px 10px 10px;
      font-size: $fontSize-dropdown-sm;
    }
  }

  &__content {
    padding: 20px;
    color: $color-primary;
    font-size: $fontSize-dropdown-md;
    @include sm {
      font-size: 12px;
    }
  }
}
