.dropdown {
  background-color: $color-surface-container;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: min-content;

  &__title {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $color-primary;
    border-radius: 5px;
    color: $color-secondary;
    font-size: $fontSize-dropdown-lg;
    padding: 10px 20px 10px 15px;
    @include md {
      font-size: $fontSize-dropdown-md;
    }
    @include sm {
      padding: 10px;
      font-size: $fontSize-dropdown-sm;
    }

    &--arrow {
      background-image: url(../../../src/assets/arrowTop-icon.svg);
      background-repeat: no-repeat;
      background-position: center;

      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      transition: transform ease-in-out 0.3s;
      &.open {
        transform-origin: center;
        transform: rotate(-180deg);
      }
    }
    &:focus-visible {
      border: 5px solid black;
    }
  }

  &__content {
    z-index: 1;
    position: relative;
    max-height: 0;
    transform: translateY(-100px);
    color: $color-primary;
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out,
      max-height 0.8s ease-in-out;

    font-size: $fontSize-dropdown-md;
    @include sm {
      font-size: 12px;
    }
    & p {
      margin: 20px;
    }

    &.open {
      transform: translateY(0);
      max-height: 300px; //% not work for transition
    }
  }
}
